@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap&family=Special+Elite');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

:root {
  --fntcolor: yellow;
  --headerfntcolor: black; 
  --bkgrnd: black;
  --fntcolor2: lightyellow; 
  --sndicon: yellow; 
  --fntprimary:  'Secular One', sans-serif; 
  --fntsecondary: 'Special Elite', serif; 
  --bkgrndgrad:  linear-gradient(to right bottom, rgba(136, 137, 135, 0.8), rgba(29, 31, 31, 0.8)), url(typekeyboard.png);
  --headerbttmcolor:  0 0 8px 8px black inset;
  --linedivcolor: yellow; 
}

:root:has(.theme > [value = "Light"]:checked) {
  --fntcolor: black;
  --headerfntcolor: rgb(255, 255, 255); ; 
  --bkgrnd: white;
  --fntcolor2: rgb(67, 62, 62);
  --sndicon: black;  
  --fntprimary: 'Secular One', sans-serif; 
  --fntsecondary: 'Georgia', serif; 
  --bkgrndgrad:  linear-gradient(to right bottom, rgba(136, 137, 135, 0.8), rgba(29, 31, 31, 0.8)), url(typekeyboard.png);
  --headerbttmcolor:  0 0 8px 8px white inset;
  --linedivcolor: black; 
}

:root:has(.theme > [value = "Dark"]:checked) {
  --fntcolor: white;
  --bkgrnd: black;
  --fntcolor2: lightgray; 
  --headerfntcolor: black; 
  --sndicon: white; 
  --fntprimary: 'Roboto', serif; 
  --fntsecondary: 'Verdana', serif;  
  --bkgrndgrad:  linear-gradient(to right bottom, rgba(136, 137, 135, 0.8), rgba(29, 31, 31, 0.8)), url(typekeyboard.png);
  --headerbttmcolor:  0 0 8px 8px black inset;
    --linedivcolor: white; 
}

:root:has(.theme > [value = "Green"]:checked) {
  --fntcolor: #2f6a30; 
  --headerfntcolor: #07ff0b; 
  --bkgrnd: white; 
  --accents: blue; 
  --fntcolor2: black; 
  --sndicon: black; 
  --fntprimary:  'Secular One', sans-serif;
  --fntsecondary: 'Georgia', serif; 
  --bkgrndgrad:  linear-gradient(to right bottom, rgba(100, 100, 100, 0.8), rgba(225, 225, 225, 0.8)), url(typekeyboard.png);
  --headerbttmcolor:  0 0 8px 8px white inset;
  --linedivcolor: green: 

}

:root:has(.theme > [value = "paper"]:checked) {
  --fntcolor: black;
  --bkgrnd: url("https://www.publicdomainpictures.net/pictures/60000/velka/old-paper-texture-background.jpg");
  --fntcolor2: rgb(47, 45, 45); 
  --headerfntcolor: #eae4cc; 
  --sndicon: black;
  --fntprimary: 'Special Elite', serif;
  --fntsecondary: 'Special Elite', serif; 
  --bkgrndgrad:  linear-gradient(to right bottom, rgba(136, 137, 135, 0.8), rgba(29, 31, 31, 0.8)), url(typekeyboard.png);
  --headerbttmcolor:  0 0 8px 8px #eae4cc inset;
  --linedivcolor: brown;  

}



body {
  background: var(--bkgrnd);
  color: var(--fntcolor);
}

.container {
  display: flex; 
  flex-direction: column; 
  float: inline-start;
}

.header {
  position:fixed;
  left: 0px; 
  top: 50px;
  background-image: var(--bkgrndgrad);
  background-size: cover;
  background-position: top;
  z-index: -1;
  box-shadow: var(--headerbttmcolor);
  height: 35vh; 
  width: 103vw; 
  margin-left: -1rem; 
  margin-top: -1rem; 
  color: var(--headerfntcolor);
  text-shadow: 0rem 0rem 1rem var(--sndicon),  0rem 0rem 1rem var(--sndicon),  0rem 0rem 1rem var(--sndicon);
}



.item {
  padding: 0px 20px 0px 20px; 
}

.name {
  padding-top: 2rem; 
  font-family: var(--fntsecondary); 
  font-size: 4rem;
  margin: 0 auto; 
  letter-spacing: 1px;
  font-weight: 900; 
  text-transform: uppercase; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}


.motto {
  font-family: var(--fntsecondary); 
  margin: 0 auto; 
  letter-spacing: 0.65rem;
  text-transform: lowercase; 
  font-size: 2rem;
    font-weight: 300; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

#tagline  {
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0 auto; 
  text-align: center;  
}

#info {
  font-size: 14px;
  font-family: var(--fntprimary); 
  font-weight: 600; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

.infoitem {
  padding: 0px 10px 10px 10px; 
}

.heading1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color:  var(--fntcolor);;
  padding-top: 20px; 
  display: flex; 
  flex-direction: row; 
  font-family: var(--fntsecondary);
}

.heading1:hover > .sndicn { text-shadow: 0rem 0rem 1rem var(--sndicon),  0rem 0rem 1rem var(--sndicon),  0rem 0rem 1rem var(--sndicon); }

.txt {
  font-size: 18px; 
  font-family: var(--fntprimary);
  color: var(--fntcolor2);
  
}

a {
  color:  var(--fntcolor);
}

li {
  font-family: var(--fntprimary);
  font-size: 14pt; 
  padding: 5px 40px 0px 0px;
  color: var(--fntcolor2); 
}

.twocolumns {
  padding-top: 10px; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;  
}

.sublist {
  padding-left: 70px; 
  list-style-type: circle;
  
}

.themepicker {
  position:fixed;
  left: 5px; 
  top: 5px;
  width: 140px; 
  height: 70px; 
  background: var(--bkgrnd); 
  color:  var(--fntcolor); 
  font-family:"Roboto", serif;
  font-size: 10pt; 
  text-align: center;
  border-radius: 0.4rem;
  padding-top: 10px;
  opacity: 0.3;
}


.themepicker:hover {
  opacity: 1;
}
